.bookmark-block {
  .sub-folders {
    padding-left: 25px;
    font-size: 14px;

    h2 {
      padding: 8px 10px;
      margin: 0;
      cursor: pointer;
      line-height: 1.5;

      .folder-icon {
        margin-right: 10px;
        width: 16px;
        // width: 18px;
      }

      &:hover {
        color: #7046b1;
        // font-weight: 400;

        .folder-icon {
          svg {
            fill: #7046b1;
          }
        }
      }
    }
  }
  
  .folder-icon,
  .folder-name {
    display: inline-block;
    vertical-align: baseline;
    // vertical-align: middle;
  }

  .folder-icon {
    img {
      width: 100%;
    }
  }

  .folder-title {
    font-weight: inherit;
  }

  > .sub-folders {
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding-left: 10px;

    > h2 {
      padding: 12px 10px;

      .folder-icon {
        // margin-right: 15px;
        // width: 24px;
        width: 20px;
      }
    }
  }
}
