.header-container {
  border-bottom: 1px solid #ccc;

  .logo-container,
  .search-bar {
    display: inline-block;
    vertical-align: middle;
  }

  .logo-container {
    padding: 10px;
    width: 300px;

    .logo,
    .logo-text {
      display: inline-block;
      vertical-align: middle;
    }

    .logo {
      width: 28px;
    }

    .logo-text {
      margin-left: 5px;
      font-size: 24px;
      color: #611e1c;
      font-family: monospace;
    }
  }

  .search-bar {
    width: calc(100% - 300px);

    .search-text {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      line-height: 1;
      font-size: 20px;
      font-weight: 100;
      font-style: italic;
      border-bottom: 2px solid #7046b1;
      color: #888;
      margin-bottom: 5px;

      &:focus {
        outline: none;
      }
    }

    .search-icon,
    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .search-icon {
      width: 20px;

      svg {
        fill: #666;
      }
    }

    .text {
      padding: 7px 10px;
    }
  }

  .search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0.75);
    background: rgba(147, 132, 175, 0.9);
    overflow: scroll;
    color: #333;
    padding: 5px 25px;

    .search-block {
      width: 500px;
      margin: auto;

      .modal-search-input {
        border: 0;
        background: transparent;
        color: #eee;
        font-size: 24px;
        border-bottom: 1px solid #eee;
        width: 100%;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #eee;
          opacity: 1; /* Firefox */
        }
      }
    }
    .close-modal {
      text-align: right;

      span {
        font-size: 36px;
        line-height: 1;
        color: #eee;
        cursor: pointer;
        font-weight: 100;
        text-transform: uppercase;
        margin-right: 10px;
      }
    }

    .search-result-block {
      list-style: none;
      margin-top: 25px;

      .search-result-item {
        a {
          color: #ddd;
          font-weight: bold;
          line-height: 1.5;
          margin-bottom: 15px;
          display: block;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}
