.bookmark-content {
  .bookmark-card {
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
  }

  .input-name-block {
    position: relative;

    .main-folder-name {
      background: transparent;
      margin: 0;
      padding: 10px 30px 10px 0;
      font-size: 24px;
      font-weight: 300;
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid #ff9800;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .icon-wrapper {
      cursor: pointer;
      display: block;
      width: 18px;
      position: absolute;
      right: 5px;
      top: 0;
      bottom: 0;
    }
  }

  .bookmark-folder {
    cursor: pointer;

    .folder-icon,
    .folder-name {
      display: inline-block;
      vertical-align: baseline;
    }

    .folder-icon {
      width: 20px;
      margin-right: 10px;
    }

    .folder-name {
      line-height: 1;
    }
  }

  .empty-folder-container {
    .empty-folder-info {
      font-size: 14px;
      font-weight: 400;
      color: red;
      margin-top: 25px;
    }
  }
}
